article {
  background-color: var(--card-bg);
  padding: 2rem;
  margin-bottom: 16px;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

  svg {
    color: var(--primary-light);
    background: rgba(0, 153, 255, 0.3);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: 16px;
  }

  p {
    color: var(--text-muted);
  }

  h3 {
    font-weight: 500;
  }
}

.jobListingCard {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;

  display: flex; /* valor original */
  align-items: start;
  gap: 1rem;

  &.isHidden {
    display: none;
  }

  small {
    font-size: 0.875rem;
    opacity: 0.75;
  }

  p {
    margin-top: 0.5rem;
  }

  &:last-child {
    border-bottom: none;
  }

  .buttonApplyJob {
    background: #09f;

    &.isApplied {
      background: #4caf50;
      pointer-events: none;
    }
  }
}
